<h1>Listing Tasks</h1>
<div id="container">
	<%= react_component('TaskApp') %>
	<!-- <div id="taskApp">
		<form class="todoForm">
			<input type="text" placeholder="Todo">
			<input type="submit" value="登録">
		</form>
		<table>
			<thead>
				<tr>
					<th>Content</th>
					<th>Status</th>
					<th colspan="3"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>部屋の掃除</td>
					<td>todo</td>
				</tr>
				<tr>
					<td>選択</td>
					<td>todo</td>
				</tr>
			</tbody>
		</table>
	</div> -->
</div>
